<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Student Information Management</title>  
    <style>  
        table {  
            width: 60%;  
            border-collapse: collapse;  
        }  
        th, td {  
            padding: 12px;  
            border: 1px solid #ddd;  
            text-align: left;  
        }  
        th {  
            background-color: #f2f2f2;  
        }  
        tr:nth-child(even) {  
            background-color: #f9f9f9;  
        }  
        tr:hover {  
            background-color: #f1f1f1;  
        }  
    </style>
</head>  
<body> 
    <header class="flex justify-between items-center mb-4">  
        <div class="flex items-center ml-auto">  
            {% if session.username %}  
                <span class="mr-4 text-lg">Welcome，{{ fullname[0] }} {{ fullname[1] }} </span>  
                <a href="{{ url_for('logout') }}" class="text-blue-600 hover:underline">Logout</a>  
            {% else %}  
                <a href="{{ url_for('login') }}" class="text-blue-600 hover:underline">Login</a>  
            {% endif %}  
        </div>  
    </header>  
    <h1>Student Information Management</h1>  

    <h2>Create Student Information</h2>  
    <form method="post">  
        <input type="text" name="username_ist" placeholder="ID:{{next_id}}" style="width: 103px;">
        <input type="password" name="password_ist" placeholder="Password" required>  
        <input type="text" name="first_name_ist" placeholder="First Name" required>  
        <input type="text" name="last_name_ist" placeholder="Last Name" required>  
        <input type="date" name="birth_date_ist" placeholder="Birth Date" required>  
        <input type="email" name="email_ist" placeholder="Email" required>  
        <select name="role_ist" required>
            <option value="">Please select role</option>
            {% for role in roles%}
            <option value="{{role.role}}">{{role.role}}</option>
            {% endfor %}
        </select> 
        <button type="submit" name="insert">Create</button>  
    </form>  
    
    <h2>Update Student Information</h2>  
    <form method="post">  
        <select name="username_upd" required>  
            <option value="">Select Student</option>  
            {% for student in results %}  
                <option value="{{ student.username }}">{{ student.username }}</option>  
            {% endfor %}  
        </select>  
        <input type="password" name="password_upd" placeholder="Password">  
        <input type="text" name="first_name_upd" placeholder="First Name">  
        <input type="text" name="last_name_upd" placeholder="Last Name">  
        <input type="date" name="birth_date_upd" placeholder="Birth Date">  
        <input type="email" name="email_upd" placeholder="Email">  
        <select name="role_upd">
            <option value="">Please select role</option>
            {% for role in roles%}
            <option value="{{role.role}}">{{role.role}}</option>
            {% endfor %}
        </select>
        <button type="submit" name="update">Update</button>  
    </form>  
    <h3>Delete Student Information</h3>  
    <form method="post">  
        <select name="username" required>  
            <option value="">Select Student</option>  
            {% for student in results %}  
                <option value="{{ student.username }}">{{student.username}}-{{ student.first_name }} {{ student.last_name }}</option>  
            {% endfor %}  
        </select>  

        <button type="submit" name="delete">Delete</button>  
    </form>

    <p>{{ message }}</p>  

    <h2>Student Information List</h2>  
    <table>  
        <tr>  
            <th>Student No</th>  
            <th>First Name</th>  
            <th>Last Name</th>
            <th>Birth Date</th>  
            <th>Register Date</th>
            <th>Email</th>
            <th>Role</th>
        </tr> 
        {% for student in results %} 
        <tr>  
            <td>{{ student.username }}</td>  
            <td>{{ student.first_name}}</td>  
            <td>{{ student.last_name }}</td>  
            <td>{{ student.birth_date }}</td>  
            <td>{{ student.register_date }}</td>  
            <td>{{ student.email }}</td> 
            <td>{{ student.role }}</td> 
        </tr>  
        {% endfor %}  
    </table>  
    <a href="/subjects">Lincoln University Course List</a>
</body>  
</html>