<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Student Information Management</title>  
</head>  
<body> 
    <header class="flex justify-between items-center mb-4">  
        <div class="flex items-center ml-auto">  
            {% if session.username %}  
                <span class="mr-4 text-lg">Welcome，{{ fullname[0] }} {{ fullname[1] }} </span>  
                <a href="{{ url_for('logout') }}" class="text-blue-600 hover:underline">Logout</a>  
            {% else %}  
                <a href="{{ url_for('login') }}" class="text-blue-600 hover:underline">Login</a>  
            {% endif %}  
        </div>  
    </header>  
    <h1>Student Information Management</h1>  

    <h2>Insert Student Information</h2>  
    <form method="post">  
        <input type="text" name="student_no" placeholder="Student No" required>  
        <input type="text" name="name" placeholder="Name" required>  
        <input type="text" name="enrol_year_insert" placeholder="Enrollment Year" required>  
        <input type="text" name="major_insert" placeholder="Major" required>  
        <button type="submit" name="insert">Insert</button>  
    </form>  
    
    <h2>Update Student Information</h2>  
    <form method="post">  
        <select name="student_id" required>  
            <option value="">Select Student</option>  
            {% for student in results %}  
                <option value="{{ student.Student_No }}">{{ student.Name }}</option>  
            {% endfor %}  
        </select>  
        <input type="text" name="name_update" placeholder="New Name" required>  
        <input type="text" name="enrol_year_update" placeholder="New Enrollment Year" required>  
        <input type="text" name="major_update" placeholder="New Major" required>  
        <button type="submit" name="update">Update</button>  
    </form>  
    <h3>Delete Student Information</h3>  
    <form method="post">  
        <select name="student_del_id" required>  
            <option value="">Select Student</option>  
            {% for student in results %}  
                <option value="{{ student.Student_No }}">{{student.Student_No}}-{{ student.Name }}</option>  
            {% endfor %}  
        </select>  

        <button type="submit" name="delete">Delete</button>  
    </form>

    <p>{{ message }}</p>  

    <h2>Student Information List</h2>  
    <table border="1">  
        <tr>  
            <th>Student No</th>  
            <th>Name</th>  
            <th>Enrollment Year</th>  
            <th>Major</th>  
        </tr>  
        {% for student in results %}  
        <tr>  
            <td>{{ student.Student_No }}</td>  
            <td>{{ student.Name }}</td>  
            <td>{{ student.Enrol_year }}</td>  
            <td>{{ student.Major }}</td>  
        </tr>  
        {% endfor %}  
    </table>  
    <a href="/subjects">Lincoln University Course List</a>
</body>  
</html>